<div class="container">

    <br>

    <h1>Apuração de Impostos Mensais e Declarações</h1>

    <br>

    <p>
        A escrita fiscal e apuração dos impostos é algo que preocupa os empresários brasileiros, não só pela complexidade das normas, mas pela carga tributária que muitas
        vezes torna os produtos e serviços caros. O primeiro ponto é enquadrar a empresa no regime mais viável economicamente, e não necessariamente o mais simples.
    </p>

    <p>
        Sabemos que nem sempre o empresário consegue acompanhar essas questões tributárias e fiscais, por vezes complexas, pois além da arrecadação tributária (pagamento dos impostos) 
        ainda se faz necessário prestar as informações aos órgãos de fiscalização, as chamadas Declarações Fiscais.
        Edson Pedro Zambon
    </p>

    <p>
        Por esse motivo estamos disponíveis para tirar dúvidas sobre os regimes tributários que sua empresa pode se enquadrar e quais informações a sua empresa
        deve prestar aos órgãos de fiscalização.
    </p>

</div>