<div class="container">

<br>

<h1>Atualização do Cadastro</h1>

<br>

{{#each doador}}

    <form action="/updateUsuario" method="POST">
        <input type="text" name="codigo" readonly="true" value={{id}}>
        <input type="text" name="nome" value={{text}}>
        <input type="text" name="senha" value={{password}}>
        <input type="submit" name="conectar">
        
    </form>

{{/each}}

</div>