<div class="container">

<br>

<h1>Contabilidade Consultiva</h1>

<br>

<p>
    A contabilidade é muito usada no Brasil a serviço da apuração de tributos, no entanto, sabe-se que a mesma surgiu com outro propósito, auxiliar nas operações 
    comerciais e controle patrimonial. Por meio da contabilidade gerencial podemos munir os gestores de informações úteis na tomada de decisão. Desde a formação 
    do preço dos produtos e serviços até a identificação da lucratividade e rentabilidade do seu investimento.
</p>

<p>
    A Contabilidade Consultiva está em destaque atualmente, pois as tecnologias estão permitindo que o contador dedique-se menos tempo na prestação de contas e foque
    juntamente com o seu cliente nos potenciais que a empresa possui para gerar resultados positivos.
</p>

<p>
    Assim a contabilidade consultiva é a aplicação de controles organizacionais e gerenciais que visem gerar informações do seu negócio sobre seu resultado econômico 
    (por exemplo, veja item Ponto de Equilíbrio em nossa página) e financeiro e permitir que você seja um gestor proativo aos problemas.
</p>

</div>