<div class="container">

    <br>

    <h1>Contabilidade Societária</h1>

    <br>

    <p>
        Além da obrigação legal, o acompanhamento da evolução patrimonial da sua empresa é de vital importância para a saúde financeira e econômica. 
        Apresentação do Balanço Patrimonial, Demonstração do Fluxo de Caixa, Demostração de Resultado do Exercício entre outras peças contábeis podem fazer 
        diferença na captação de recursos próprios e/ou de terceiros.
    </p>

    <p>
        Outro fator importante da contabilidade Societária é a destinação dos lucros da empresa, identificar o montante a ser distribuído aos sócios, constituir 
        fundos de reservas e/ou cobrir perdas anteriores são fundamentais para a continuidade do negócio. Essas informação são facilmente extraídas da contabilidade.
    </p>

    <p>
        Se a sua empresa necessita organizar a contabilidade e emitir demonstrativos cofiáveis agende uma reunião para identificarmos a melhor forma de contribuir com seu negócio.
    </p>

</div>