<h1>Folha de Pagamento e Declarações</h1>

<p>
    A folha de pagamento dos funcionários ainda é tida como algo custoso para as pequenas empresas que não possuem um departamento pessoal, porém isso é coisa do passado. 
    Esse processo pode ser feito pelo escritório por um custo muito acessível. Muitas vezes o custo de pagar um profissional para elaborar a folha e prestar as 
    declarações é muito menor que o custo da informalidade uma vez que é essencial que esse funcionário esteja incluso na seguridade social.
</p>

<p>
    Sabemos que ao contratar um funcionário, o empregador acaba tendo diversas responsabilidades. Além dos pagamentos dos direitos trabalhista, horas extras ainda é 
    preciso prestar informações aos órgãos competentes, isso porque é a empresa que atualiza informações do trabalhador nos programas sociais do governo, se a informação
    não for prestada corretamente pode prejudicar o funcionário.
</p>

<p>
    Parece muita coisa, não é? Mas fique tranquila(o) Contratando nossos serviços, você terá toda orientação antes mesmo da contratação, informando quanto que vai ser
    o custo do funcionário, os documentos necessários para contratação. Seu funcionário receberá a folha de pagamento, por e-mail, ou terá acesso ao portal do funcionário
    podendo nos contatar em qualquer momento para tirar suas dúvidas.
</p>

<p>
    Consulte nossos planos para o departamento pessoal!
</p>