
    <h1>Missão</h1>

    <p>
        Contribuir com a eficiência econômica das empresas por meio da automatização do processos burocrático necessário para atender normas fiscais
        disponibilizando maior parte do tempo para a contabilidade consultiva capaz de gerar informações úteis na gestão econômica e financeira que agreguem valor
        econômico aos nossos clientes.
    </p>